.mainView {
  display: flex;
  width: 100%;
  min-height: 100vh;
  gap: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mainLeftPart,
.mainRightPart {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.mainLeftPart {
  background-color: rgba(30, 30, 30, 0.804);
  padding-bottom: 50px;
  position: fixed;
  width: var(--sidebar-width);
  top: 0;
  bottom: 0;
  left: 0;
}
.mainRightPart {
  width: calc(100% - var(--sidebar-width));
  margin-left: calc(var(--sidebar-width) + 70px);
  margin-right: 70px;
}

.controlGroup {
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.viewRating {
  background-image: url("/public/img/gif3.gif");
  background-size: cover;
  width: 140px;
  height: 130px;
  border: 1px solid yellow;
  border-radius: 10px;
  color: rgba(198, 0, 0, 0.867);
  font-size: 70px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: 2px rgb(248, 248, 248);
}
.viewImage {
  width: 60%;
  margin: 15px 0 5px 0;
}
.upcomText {
  margin: 10px;
  font-size: 20px;
  color: rgba(201, 201, 201, 0.94);
}

.modalFormRate,
.modalFormAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.rateField {
  width: 50%;
  font-size: 26px;
  padding: 18px 10px;
  color: rgb(255, 221, 0);
}

.countryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag {
  width: 100px;
  margin-right: 20px;
}
