@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Handjet:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  overscroll-behavior: none;
  --sidebar-width: 28%;

  --color-light: rgb(255, 232, 204);
  --color-dark-gold: rgb(187, 147, 2);
  --color-light-gold: rgb(221, 193, 55);
  --color-dark: rgb(255, 146, 43);
  --color-bright: yellow;
  --color-pale: rgba(154, 154, 154, 0.614);
  /* tables: */
  --font-classic: "Cormorant", serif;
  --font-weight-classic: 500;
  --font-size-classic: 26px;
  --color-classic-head: rgba(221, 193, 55, 0.7);
  --color-classic-odd: rgba(253, 253, 253, 0.55);
  --color-classic-even: rgba(255, 235, 168, 0.663);
  --color-classic-hover: rgb(187, 147, 2);

  --font-modern: "Handjet", sans-serif;
  --font-weight-modern: 400;
  --font-size-modern: 26px;
  --color-modern-head: rgba(3, 232, 244, 0.9);
  --color-modern-odd: rgba(101, 100, 100, 0.5);
  --color-modern-even: rgba(36, 226, 251, 0.4);

  --font-history: "Handjet", sans-serif;
  --font-weight-history: 400;
  --font-size-history: 26px;
  --color-history-head: rgba(253, 206, 68, 0.7);
  --color-history-odd: rgba(122, 246, 255, 0.5);
  --color-history-even: rgba(124, 207, 252, 0.451);
}

/* ::placeholder {
  color: var(--color-light);
  opacity: 1;
} */

input,
.searchField,
.meetingField,
.newTitleInput,
.newAuthorInput,
.newPagesInput {
  width: 20vw;
  color: whitesmoke;
  font-size: 22px;
  font-family: didot;
  text-align: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 7px;
  margin: 10px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
input:focus,
.searchField:focus,
.meetingField:focus {
  outline: none;
  box-shadow: 0 0 10px #f9f9f9d2;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
/*!!!!!! --------------------- save above, correct below  ----------------------  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
}
.register-container {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}
a {
  text-decoration: none;
  color: whitesmoke;
  padding: 7px;
  font-size: 20px;
}
/* todo - nicer decoration */
a:hover {
  cursor: pointer;
  text-decoration: underline;
}
html {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--color-light);
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 6vh;
  font-weight: 600;
  margin: 0px;
  color: rgb(17, 17, 17);
}
h3 {
  padding: 0;
  margin: 5px;
}
h2 {
  margin: 10px;
}
.brand-classic,
.brand-history {
  font-size: 30px;
  font-family: "Bad Script", cursive;
  display: inline-block;
  position: relative;
  color: rgba(252, 249, 252, 0.802);
}
.brand-classic::after,
.brand-history::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 6px;
  left: 0;
  background-color: rgba(252, 249, 252, 0.802);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.brand-classic:hover::after,
.brand-history:hover::after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.brand-modern {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff;
  font-size: 30px;
  font-family: "Exo 2", sans-serif;
  color: rgba(252, 249, 252, 0.802);
  margin: 14px 0 9px 0;
}
.brand-modern:hover {
  animation: flicker 1s infinite alternate;
  cursor: pointer;
  text-decoration: none;
}

.container {
  display: flex;
  border: 1px solid grey;
  font-size: 20px;
  margin-bottom: 8px;
  padding: 5px;
}

.container:hover {
  background-color: rgba(165, 245, 28, 0.564);
  box-shadow: 5px;
  cursor: pointer;
}

.switch {
  background-size: cover;
  background-color: transparent;
  width: 10vw;
  height: 8.2vw;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  transition: transform 0.5s ease-out;
}
.switch:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.switch:hover + .switch-back {
  transform: scale(0.95);
}

.switch-container {
  display: flex;
  align-items: center;
}
.switch-back {
  margin-left: -12.6vw;
  width: 14vw;
  z-index: -2;
  filter: grayscale();
  transition: transform 0.5s ease-out;
}

/* ? book search */
#search-field-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.remove-btn-container {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px 0 8px 0;
}

.meetingField {
  width: 10vw;
  font-size: 20px;
  margin: 0;
}

.paginationText {
  font-size: 3vh;
  color: rgba(201, 201, 201, 0.94);
}

.enter-container,
.example-enter {
  position: absolute;
  right: 2vw;
  top: 2vh;
}
.flex-container {
  display: flex;
  gap: 1vw;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: center;
  justify-content: center;
  /* margin-top: 3vh; */
}

/* ? book view */
#book-view {
  /* display: flex; is added in JS upon showing*/
  /* position: relative; */
  gap: 15px;
}
.view-title {
  margin-top: 8px;
}
.book-info {
  margin-top: 20px;
  background-color: rgba(232, 232, 232, 0.87);
  border-radius: 10px;
}
.book-info-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.view-desc,
.newDesc {
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
.view-pages {
  font-size: 17px;
}

.simple-text,
.meeting-date,
.name-text {
  font-size: 20px;
  color: rgba(201, 201, 201, 0.94);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.modal-content {
  background-color: rgba(59, 59, 59, 0.523);
  box-shadow: 0 0 150px #f9f9f9d2;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 30%;
}

#modaladd,
#modalremove,
#modalrate,
#modalenter {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.newTitleInput,
.newAuthorInput,
.newPagesInput {
  font-family: "Playfair Display", serif;
  font-size: 6vh;
  font-weight: 600;
  margin: 10px 0 0 0;
  color: rgb(17, 17, 17);
}
.newAuthorInput {
  font-size: 3vh;
}
.newPagesInput {
  font-size: 2vh;
  width: 6vw;
}
.newDesc {
  width: 90%;
  max-width: 90%;
  height: 60%;
  max-height: 60%;
  background-color: rgba(245, 245, 245, 0.1);
}

/* * History */
.history__wave-logo {
  width: 100px;
  margin: 10px;
}
#history-link,
#reading-link {
  background-color: transparent;
  border: none;
}

.Up,
.Down {
  text-decoration: underline;
}
.Up:hover,
.Down:hover {
  cursor: pointer;
}

#modalmessage {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.message-text {
  color: #011a32;
  font-family: Helvetica, sans-serif;
  font-size: 9vh;
  font-weight: 900;
  animation: 2.5s appear ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-0.5em);
    text-shadow: 0 0.06em 0 #0c2ffb, 0 0.12em 0 #2cfcfd, 0 -0.06em 0 #fb203b,
      0 -0.12em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.25em);
    text-shadow: 0 -0.03em 0 #0c2ffb, 0 -0.06em 0 #2cfcfd, 0 0.03em 0 #fb203b,
      0 0.06em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.12em);
    text-shadow: 0 0.015em 0 #0c2ffb, 0 0.03em 0 #2cfcfd, 0 -0.015em 0 #fb203b,
      0 -0.03em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
  100% {
    transform: translateY(-5%);
    opacity: 0;
  }
}

@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translateY(0%);
  }
  90% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-40%);
  }
}

datalist {
  position: absolute;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

option {
  background-color: white;
  padding: 4px;
  color: blue;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #main-view {
    flex-direction: column;
    gap: 10px;
  }
  .main-left-part,
  .main-right-part {
    width: 98%;
  }
  .main-left-part {
    position: inherit;
    margin-top: 8vh;
  }
  .main-right-part {
    margin: 5px;
  }
  .modal-content {
    width: 70%;
  }
  .searchField {
    width: 40vw;
  }
  .modal-btn {
    min-width: 20vw;
    min-height: 5vh;
  }
  .searchBtn {
    width: 20vw;
  }
  .upcoming-book-container {
    width: 80vw;
  }
  #upcoming-pic {
    width: 30vw;
  }

  .cl3,
  .cl4,
  .yearRow {
    display: none;
  }
  .load-screen-gif {
    width: 45vw;
  }
  .view-image {
    width: 25vw;
  }
  .book-info {
    margin-top: 1vh;
    width: 90vw;
  }
  .switch {
    width: 18vw;
    height: 15vw;
  }
  .switch-back {
    width: 23vw;
    height: 20vw;
    margin-left: -22vw;
  }
  .view-rating {
    right: 9%;
    top: 230px;
    width: 20vw;
    height: 20vw;
    font-size: 10vw;
  }
}
